@page
@model Online_Courses_Core_Web.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Enrollments</h1>

<p>
    <a class="btn btn-primary"  asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment[0].Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enrollment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.Email)
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary"  asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
