@page
@model Online_Courses_Core_Web.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our Registered Courses</h1>


<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Duration) (Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary"  asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
